@font-face {
    font-family:'DejaVu Serif';
    src:
        local('DejaVu Serif'),
        url('fonts/DejaVuSerif.ttf');
}

@font-face {
    font-family:'DejaVu Serif';
    src:
        local('DejaVu Serif Bold'),
        url('fonts/DejaVuSerif-Bold.ttf');
    font-weight:bold;
}

@font-face {
    font-family:'DejaVu Serif';
    src:
        local('DejaVu Serif Italic'),
        url('fonts/DejaVuSerif-Italic.ttf');
    font-style:italic;
}

body {
    font-family:'DejaVu Serif';
    font-size:16px;
}

h1 {
    font-size:24px;
    font-weight:bold;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    color:#46058C;
}

h2 {
    font-size:18px;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    color:#46058C;
}

a {
    text-decoration:none;
    color:#46058C;
}

a:visited {
    text-decoration:none;
    color:#46058C;
}

hr {
    background-color:#C6A8FF;
    border-style:none;
    width:100%;
    margin-left:0px;
    height:3px;
}

.zone {
    border-spacing:0px;
    line-height:1.3;
    width:100%;
}

.zone td {
    padding:0px;
    vertical-align:top;
    padding-bottom:7px;
}

.zone td:nth-child(1) {
    width:51px;
}
.zone td:nth-child(2) {
    width:11px;
    font-weight:bold;
    color:#46058C;
}
