@font-face {
    font-family:'DejaVu Serif';
    src:
        local('DejaVu Serif'),
        url('fonts/DejaVuSerif.ttf');
}

@font-face {
    font-family:'DejaVu Serif';
    src:
        local('DejaVu Serif Bold'),
        url('fonts/DejaVuSerif-Bold.ttf');
    font-weight:bold;
}

@font-face {
    font-family:'DejaVu Serif';
    src:
        local('DejaVu Serif Italic'),
        url('fonts/DejaVuSerif-Italic.ttf');
    font-style:italic;
}

:root {
  --color-background: #30114C;
  --color-text: #000000;
  --color-field: #EBEBEB;
  --color-header: #46058C;
  --color-url: #46058C;
  --color-strong-border: #46058C;
  --color-weak-border: #A688DF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #16012C;
    --color-text:#EEEEEE;
    --color-field: #222222;
    --color-header: #C6A8FF;
    --color-url: #D6B8FF;
    --color-strong-border: #B698EF;
    --color-weak-border: #7666BC;
  }
}

body {
    font-family:'DejaVu Serif';
    font-size:16px;
    background-color:var(--color-background);
    color:var(--color-text);
}

h1 {
    font-size:24px;
    font-weight:bold;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    color:var(--color-header);
}

h2 {
    font-size:18px;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    color:var(--color-header);
}

a {
    text-decoration:none;
    color:var(--color-url);
}

a:visited {
    text-decoration:none;
    color:var(--color-url);
}

hr {
    background-color:var(--color-weak-border);
    border-style:none;
    width:100%;
    margin-left:0px;
    height:3px;
}

.zone {
    border-spacing:0px;
    line-height:1.3;
    width:100%;
}

.zone td {
    padding:0px;
    vertical-align:top;
    padding-bottom:7px;
}

.zone td:nth-child(1) {
    width:51px;
}
.zone td:nth-child(2) {
    width:11px;
    font-weight:bold;
    color:var(--color-strong-border);
}

.field {
  width:820px;
  margin:0 auto;
  margin-bottom:6px;
  padding:12px;
  border:3px solid var(--color-strong-border);
  background-color:var(--color-field);
}

.profile {
  float:right;
  width:200px;
  height:auto;
  border:3px solid var(--color-weak-border);
}
